input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.modal-change-close {
  position: absolute;
  top: -35px;
  right: -40px;
  img {
    width: 20px;
    height: auto;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(29, 29, 30, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-frame {
  display: flex;
  width: auto;
  max-width: 100%;
  box-shadow: 0 0 15px rgba(120, 138, 183, 0.25);
  background: #ffffff;
  border-radius: 7px;
  padding: 60px;
  @media(max-width: 768px) {
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    border-radius: 0;
    box-shadow: none;
  }
  .content {
    display: flex;
  }
  .modal-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    margin-left: 55px;
    .upload-result {
      width: 100%;
      margin-top: 10px;
    }
    .actions {
      .btn-load {
        cursor: pointer;
        label {
          padding: 0 12px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
  .block_btn__rotation {
    display: flex;
    position: absolute;
    top: -35px;
    left: 60px;
  }
}
