.paginator {
    padding: 50px 0 30px;
  
  
    .navButtons {
      display: flex;
      justify-content: center;
  
      .navButtonsGap {
        width: 1rem;
      }
  
      &.mobile {
        display: none;
      }
  
    }
}

.paginationNav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    button:not(:first-child) {
        margin-left: 20px;
    }
}
